@import "../../../assets/styles/main.scss";

.brandIcon {
  display: flex;
  margin-left: 90px;

  h1 {
    color: $white;
    font-size: 2rem;
    font-weight: bold;
    span {
      color: $accent;
    }
  }
}
