.bgSlide {
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  backface-visibility: hidden;
  animation: slideBg 8s linear infinite;
  animation-timing-function: ease-in-out;
  background-image: url(../../../assets/img/bg/bg-1.jpg);

  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes slideBg {
  0% {
    background-image: url(../../../assets/img/bg/bg-1.jpg);
  }
  50% {
    background-image: url(../../../assets/img/bg/bg-2.jpg);
  }
  100% {
    background-image: url(../../../assets/img/bg/bg-3.jpg);
  }
}

.heroText {
  h1 {
    color: white;
    text-align: center;
    font-size: 60px;
    font-weight: 800;
  }
  p {
  }
}
